.main {
    align-items: center;
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.top {
    margin: auto;
    align-items: center;
    text-align: center;
}

.g-button {
    color: #fff !important;
    border: 1px solid #28a745;
    background: #28a745 !important;
    width: 100%;
    font-weight: 600;
    color: #fff;
    padding: 8px 25px;
}

.centerclass{
    align-items: center;
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}