<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          
          <h3 id="h"> <i><b>My-Restaurant</b></i> </h3> &nbsp; &nbsp; &nbsp;
          
          <div class="collapse navbar-collapse" style="justify-content: end;" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" >
                <a class="nav-link active" aria-current="page" routerLink="/showmenu" routerLinkActive="active">Show Menu</a>
              </li>
            </ul>
              <h6><b>Are you an Admin?</b></h6> &nbsp; &nbsp; &nbsp;
              <button *ngIf="showLogin" class="btn btn-outline-success" type="submit"><a routerLink="/login" routerLinkActive="active">Login</a></button>
              <button *ngIf="showLogout" class="btn btn-outline-success" type="submit"><a routerLink="/login" routerLinkActive="active" (click)="showLogin=true;showLogout=false;">Logout</a></button>
          </div>
        </div> 
      </nav>
</div>
<div id="image">
    <img id="img1" aliign="center" src="https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
</div>
<br>
<div id="router">
<router-outlet></router-outlet>
</div>
<br>

<div id="footer">
<div class="">
    <footer class="text-white text-center text-lg-start bg-dark">
      <div class="container p-4">
        <div class="row mt-4">
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">About My Restaurant</h5>
  
            <p>
              My Restaurant - A New Indian restaurant serving a rustic, seasonal menu inspired by the bounty and beauty of the Finger lakes region. 
            </p>
  
            <p>
              Centered around a wood fired hearth, Rose Tavern is heralded for embracing local ingredients and classic cooking techniques.
            </p>
  
            
          </div>
          
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1">Locate Us</h5>
  
            
  
            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">GIP, 00-967, Noida-18, UP, India</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">admin@MyRestaurant.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 91 234-5677-88</span>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Opening hours</h5>
  
            <table class="table text-center text-white">
              <tbody class="fw-normal">
                <tr>
                  <td>Mon - Thu:</td>
                  <td>8am - 9pm</td>
                </tr>
                <tr>
                  <td>Fri - Sat:</td>
                  <td>8am - 1am</td>
                </tr>
                <tr>
                  <td>Sunday:</td>
                  <td>9am - 10pm</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright
      </div>
    </footer>
  </div>
</div>